#createdBlogs{
    border:1px solid #cccccc3b; 
    padding:10px; 
    margin:10px;
}
.mainContainer{
    margin: 10px;
    border: 1px solid navy;
    border-radius: 2%;
    width: 80%;
    padding: 10px;
    display: flex;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%
}